@media screen and (min-width: 1900px) {
  .logo {
    flex: 15%;
    margin-left: 20%;
  }

  .menu {
    flex: 45%;
    margin-right: 20%;
  }

  .headline {
    margin-left: 20%;
    flex: 30%;
  }

  .img-headline {
    margin-right: 20%;
    flex: 30%;
  }

  section {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    width: 80%;
  }

  .whatsapp-link {
    position: fixed;
    bottom: 5px;
    right: 10%;
  }
}

@media screen and (max-width: 1050px) {
  .menu {
    display: none;
  }

  .navbar {
    position: relative;
  }

  .logo {
    text-align: center;
    margin: 0;
  }

  .header {
    padding-top: 25px;
  }
}

@media screen and (max-width: 1085px) and (min-width: 1024px) {
  section {
    padding-right: 0;
  }

  .card {
    width: 30%;
  }

  .whatsapp-imagem {
    width: 65px;
    opacity: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  .headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .headline p {
    text-align: center;
  }

  .img-headline {
    flex: 100%;
    margin: 5%;
    text-align: center;
  }

  .card {
    width: 100%;
  }

  .whatsapp-imagem {
    width: 65px;
    opacity: 0.8;
  }
}

/* para celular */
@media screen and (max-width: 767px) {
  .whatsapp-link {
    display: none;
  }

  footer {
    height: 450px;
  }
}
