@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* margin-left: 10%;
  margin-right: 10%; */
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgb(255, 255, 255, 0.9);
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, #755fe4, transparent) 1;
}

.logo {
  flex: 20%;
  text-align: left;
  margin-left: 10%;
}

.logo h1 {
  font-family: "Lobster", sans-serif;
  color: #1c2046;
  font-size: 34px;
  cursor: default;
}

.menu {
  flex: 60%;
  text-align: right;
  margin-right: 10%;
}

.menu a {
  color: #1c2046;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
  margin-left: 5%;
}

.menu a:hover {
  color: #755fe4;
  border-top: 4px solid #1c2046;
}

/* .menu-texto {
  flex: 50%;
} */

#botao {
  background: #1c2046;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  margin-left: 5%;
  justify-content: center;
}

#botao:hover {
  border: none;
  background: #755fe4;
}

/* .menu-botao {
  flex: 5%;
}

.menu-botao a {
  background: #1c2046;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  margin-left: 5%;
}

.menu-botao a:hover {
  border: none;
  color: white;
  background: #755fe4;
} */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.headline {
  margin-left: 10%;
  flex: 40%;
}

.headline h2 {
  font-weight: 900;
  color: #1c2046;
  padding: 0;
  margin: 0;
}

.headline-titulo-menor {
  letter-spacing: 15px;
}

.headline-titulo-maior {
  font-size: 70px;
}

.headline p {
  color: grey;
  text-align: left;
}

.botao-contrate {
  background: #755fe4;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.botao-contrate:hover {
  background: #1c2046;
}

.img-headline {
  margin-right: 10%;
  flex: 40%;
  text-align: center;
}

.img-headline img {
  max-width: 100%;
}

section {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0%;
  max-height: 600px; /* Necessário fixar um valor para que o rodapé fique estático ao passar o mouse */
  text-align: center;
  padding: 5%;
  width: 90%;
}

section h2 {
  width: 100%;
  font-size: 50px;
  margin: 0;
  font-family: "Lobster", cursive;
  color: #1c2046;
}

.servicos {
  display: inline-block;
  margin-top: 5%;
}

.card {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 1%;
  border: 1px solid #755fe4;
  border-radius: 10px;
  cursor: pointer;
}

.texto-oculto {
  display: none;
}

.card:hover {
  background: #755fe4;
  color: white;
  padding-top: 70px;
  padding-bottom: 40px;
  cursor: pointer;
}

.card:hover img {
  display: none;
}

.card:hover .card-text {
  display: none;
}

.card:hover .texto-oculto {
  display: block;
}

footer {
  margin-top: 100px;
  height: 400px;
  background-image: linear-gradient(180deg, #1b0f5a, #1c2046, black);
  text-align: center;
  border-top: 5px solid #755fe4;
}

.logo-rodape {
  padding: 100px;
}

.agencia {
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 34px;
  cursor: default;
}

.agencia-texto {
  color: white;
}

.whatsapp-link {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

.whatsapp-imagem {
  width: 95px;
}

/* A classe view e suas variantes foram criadas apenas para melhorar a visualização da área do elemento na hora de editar */
.view {
  border: 1px solid black;
  background: grey;
}

.view:hover {
  border-color: blue;
}
